@{
    ViewBag.Title = "Contact";
}

@Html.Partial("menu1")

<!--/start-inner-content-->
<!--/contact-->
<div class="section-contact" id="contact">
    <div class="wrap">
        <div class="contact-main">
            <h2 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Contact Us</h2>
            <div class="col-md-6 contact-in wow slideInUp animated animated" data-wow-delay=".5s">
                <div class="more-address wow slideInUp animated animated" data-wow-delay=".5s" ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7560.766764991226!2d73.4855578!3d18.6467844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x79c4ce618f178bf5!2sPawana+Lake+Janavi+Camping!5e0!3m2!1sen!2sin!4v1519903838857" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                </div>
            </div>
            <div class="col-md-6 contact-grid">
                <address>
                    <strong class="one">Address</strong><br>
                    At. Thakursai,
                    Near Dadarkar Farm house,<br>
                    Ajiwali Thakursai Road<br>
                    Lonavala, Maharashtra 410406
                    India
                    <br/>
                    <abbr title="Phone">Contact No:</abbr> 9960044802 / 9503267668
                </address>
                <address>
                    <strong class="one">Our mail</strong><br>
                    <a href="mailto:dharma9191@gmail.com">dharma9191@gmail.com</a>
                </address>

                <b>How to Reach:</b><br />
                <b>Mumbai - 110 KM </b><br />
                There are regular trains from Bombay to Lonavala. <br />
                From lonavala station you get any private vechicles to reach our site.
                <br /><br /> <b>Pune - 60 KM </b> <br />
                There are regular trains/buses from Pune to Pawana Nagar/Lonavala. <br />
                You can get local train from Pune station to Kamshet station. <br />
                From kamshet station you can get the private vehicles such as jeep, bus etc.
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>				  	<!--map-->
</div>

<!--//end-inner-content-->