@{
    ViewBag.Title = "Contact";
}

@Html.Partial("menu1")

<!--/start-inner-content-->
<!--/contact-->
<div class="section-contact" id="contact">
    <div class="wrap">
        <div class="contact-main">
            <h2 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Contact Us</h2>
            <div class="col-md-6 contact-in wow slideInUp animated animated" data-wow-delay=".5s">
                <h5>Lorem ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor.</h5>
                <p class="para1">Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  </p>
                <div class="more-address wow slideInUp animated animated" data-wow-delay=".5s" ">
                    <address>
                        <strong class="one">Address</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P :</abbr> (123) 456-7890
                    </address>
                    <address>
                        <strong class="one">Our mail</strong><br>
                        <a href="mailto:info@example.com">mail@example.com</a>
                    </address>
                </div>
            </div>
            <div class="col-md-6 contact-grid">
                <form>
                    <div class="styled-input wow slideInUp animated animated" data-wow-delay=".5s">
                        <input type="text" required />
                        <label>Name</label>
                        <span></span>
                    </div>
                    <div class="styled-input wow slideInUp animated animated" data-wow-delay=".5s">
                        <input type="email" required />
                        <label>Email</label>
                        <span></span>
                    </div>
                    <div class="styled-input wow slideInUp animated animated" data-wow-delay=".5s">
                        <input type="tel" required />
                        <label>Phone</label>
                        <span></span>
                    </div>
                    <div class="styled-input wide wow slideInUp animated animated" data-wow-delay=".5s">
                        <textarea required></textarea>
                        <label>Message</label>
                        <span></span>
                    </div>
                    <div class="send wow shake animated animated" data-wow-delay=".5s">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>				  	<!--map-->
</div>

<!--//end-inner-content-->