@{
    ViewBag.Title = "Gallery";
}
@Html.Partial("menu1")

<!--/start-inner-content-->
<!--/portfolio-->
<div class="portfolio" id="gallery">
    <div class="wrap">
        <h3 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Our Gallery</h3>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal1" data-toggle="modal">

                        <img src="~/images/g1.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal2" data-toggle="modal">

                        <img src="~/images/g2.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal3" data-toggle="modal">

                        <img src="~/images/g3.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s" ">
                <figure class="effect-jazz">
                    <a href="#portfolioModal4" data-toggle="modal">

                        <img src="../../images/g4.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid grid-wi slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal5" data-toggle="modal">

                        <img src="~/images/g5.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid grid-wi slideanim wow fadeInRight animated animated" data-wow-delay=".5s" ">
                <figure class="effect-jazz">
                    <a href="#portfolioModal6" data-toggle="modal">

                        <img src="../../images/g6.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal7" data-toggle="modal">

                        <img src="~/images/g7.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal8" data-toggle="modal">

                        <img src="~/images/g8.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal9" data-toggle="modal">

                        <img src="~/images/g9.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal10" data-toggle="modal">

                        <img src="~/images/g10.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal11" data-toggle="modal">

                        <img src="~/images/g11.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal12" data-toggle="modal">

                        <img src="~/images/g12.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s" ">
                <figure class="effect-jazz">
                    <a href="#portfolioModal13" data-toggle="modal">

                        <img src="../../images/g13.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid grid-wi slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal14" data-toggle="modal">

                        <img src="~/images/g14.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid grid-wi slideanim wow fadeInRight animated animated" data-wow-delay=".5s" ">
                <figure class="effect-jazz">
                    <a href="#portfolioModal15" data-toggle="modal">

                        <img src="../../images/g15.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal16" data-toggle="modal">

                        <img src="~/images/g16.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal17" data-toggle="modal">

                        <img src="~/images/g17.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal18" data-toggle="modal">

                        <img src="~/images/g18.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal19" data-toggle="modal">

                        <img src="~/images/g19.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal20" data-toggle="modal">

                        <img src="~/images/g20.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal21" data-toggle="modal">

                        <img src="~/images/g21.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//portfolio-->
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g1.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g2.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g3.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="../../images/g4.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g5.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="../../images/g6.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g7.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g8.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g9.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g10.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g11.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g12.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal13" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="../../images/g13.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal14" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g14.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal15" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="../../images/g15.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal16" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g16.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal17" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g17.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal18" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g18.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal19" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g19.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal20" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g20.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal21" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>
                    <img src="~/images/g21.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Portfolio Modals -->

