
@{
    ViewBag.Title = "Gallery";
}
@Html.Partial("menu")

<!--/start-inner-content-->
<!--/portfolio-->
<div class="portfolio" id="gallery">
    <div class="wrap">
        <h3 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Our Gallery</h3>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal1" data-toggle="modal">

                        <img src="~/images/p1.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                            <p> There are many variations of passages of Lorem Ipsum .</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal2" data-toggle="modal">

                        <img src="~/images/p2.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                            <p> There are many variations of passages of Lorem Ipsum .</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal3" data-toggle="modal">

                        <img src="~/images/p3.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                            <p> There are many variations of passages of Lorem Ipsum .</p>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s" ">
                <figure class="effect-jazz">
                    <a href="#portfolioModal4" data-toggle="modal">

                        <img src="~/images/p4.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                            <p> There are many variations of passages .</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid grid-wi slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal5" data-toggle="modal">

                        <img src="~/images/p5.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                            <p> There are many variations of passages.</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid grid-wi slideanim wow fadeInRight animated animated" data-wow-delay=".5s" ">
                <figure class="effect-jazz">
                    <a href="#portfolioModal6" data-toggle="modal">

                        <img src="~/images/p6.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Go Easy On</h4>
                            <p> There are many variations of passages.</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal1" data-toggle="modal">

                        <img src="~/images/p1.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                            <p> There are many variations of passages of Lorem Ipsum .</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal2" data-toggle="modal">

                        <img src="~/images/p2.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                            <p> There are many variations of passages of Lorem Ipsum .</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal3" data-toggle="modal">

                        <img src="~/images/p3.jpg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Go Easy On</h4>
                            <p> There are many variations of passages of Lorem Ipsum .</p>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//portfolio-->
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>

                    <img src="~/images/p1.jpg" class="img-responsive" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>

                    <img src="~/images/p2.jpg" class="img-responsive" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>

                    <img src="~/images/p3.jpg" class="img-responsive" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>

                    <img src="~/images/p4.jpg" class="img-responsive" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>

                    <img src="~/images/p5.jpg" class="img-responsive" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Go Easy On</h3>

                    <img src="~/images/p6.jpg" class="img-responsive" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- //Portfolio Modals -->

