@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("menu")

<!--start-inner-content-->
<div class="inner-content" id="services">
    <div class="wrap">
        <h3 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Services</h3>
        <!--start-top_section-->
        <div class="top_section">
            <div class="bnr-btm-left grid">
                <figure class="effect-ming wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <img src="~/images/tent.jpeg" alt="img09" />
                    <figcaption>
                        <h3>Te<span>nt</span></h3>
                        <p>Tent stay with mattress, Blankets & Pillows</p>
                    </figcaption>
                </figure>

            </div>
            <div class="bnr-btm-right">
                <h3>Tents Features:</h3>
                <p>
                    <ul>
                    <li>High quality Tent</li>
                    <li>Timely execution</li>
                    <li>Water proof and fire resistant</li>
                    </ul>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--top_section2-->
        <div class="top_section two">
            <div class="bnr-btm-right two">
                <h3>Trekking</h3>
                <p> Trekking is a outdoor activity in the form of walking, undertaken with the specific purpose of exploring and enjoying the scenery.
                </p>
                <a href="#" data-toggle="modal" data-target="#myModal1" class="buy btn-wayra">Read More</a>
            </div>
            <div class="bnr-btm-left two grid">
                <figure class="effect-ming wow fadeInRight animated animated" data-wow-delay=".5s">
                    <img src="~/images/trekking.jpg" alt="img09" />
                    <figcaption>
                        <h3>Trek<span>king</span></h3>
                        <p>Be a regular trekker, don't be a temporary tourist.</p>
                    </figcaption>
                </figure>

            </div>

            <div class="clearfix"></div>
        </div>
        <!--//end-top_section-->
    </div>
</div>
<!-- app-->
<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog about" role="document">
        <div class="modal-content about">
            <div class="modal-header">
                <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body about">
                <div class="about">
                    <h2 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Trek Around</h2>
                    <div class="about-inner">

                        <img src="~/images/trekking1.jpg" alt="about" />
                        <h4 class="tittle">Trek Around</h4>
                        <p align="justify">
                            Below are the trekking and Dining options near us. <br /> <br />
                                1. Tikona Fort 2KM<br/>
                                2. Lohagad Fort 12KM<br/>
                                3. Tung Fort 20KM<br/>
                                4. Bedse Caves 8KM<br/>
                                5. Bhaje Caves 12KM<br/>
                                6. Karle Caves 20KM <br/>
                                7. Tiger Point 20KM <br />
                                8. Bhushi Dam 17KM <br/>
                                9. Pawna Lake 0KM <br />
                               10. Pawna River 1KM <br/>
                               11. Balaji Restaurant 5KM <br/>
                               12. Shantai Restaurant 4KM <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //app-->
<!--//end-inner-content-->
<div class="staff" id="team">
    <div class="wrap">
        <h3 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Our Services</h3>
        <div class="team">
            <div class="col-md-3 staff2">
                <div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <div class="mask1"><img src="~/images/tent1.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    1. Tent, Mattress, Blankets, Pillows <br />   
                </div>
            </div>
            <div class="col-md-3 staff2">
                <div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <div class="mask1"><img src="~/images/tea.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    2. Welcome tea+snacks
                </div>
            </div>
            <div class="col-md-3 staff2">
                <div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <div class="mask1"><img src="~/images/dinner.jpeg" alt="image" class="img-responsive zoom-img" /></div>
                    3. Unlimited Veg /Non veg dinner
                </div>
            </div>
            <div class="col-md-3 staff2">
                <div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <div class="mask1"><img src="~/images/barbeque.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    4. Barbecue  Veg /Non veg  { limited}
                </div>
            </div>
            <div class="col-md-3 staff2">
                <div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <div class="mask1"><img src="~/images/breakfast.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    5. Morning tea + breakfast 
                </div>
            </div>
            <div class="col-md-3 staff2">
                <div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <div class="mask1"><img src="~/images/fire.jpeg" alt="image" class="img-responsive zoom-img" /></div>
                    6. Bonfire {🔥}with  music
                </div>
            </div>
            <div class="col-md-3 staff2">
                <div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <div class="mask1"><img src="~/images/water.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    7. Drinking water
                </div>
            </div>
            <div class="col-md-3 staff2">
                <div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                    <div class="mask1"><img src="~/images/trekking1.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    8. Trekking                     
                </div>
            </div>
            
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//team-->
<!--/portfolio-->
<div class="portfolio" id="gallery">
    <div class="wrap">
        <h3 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Our Gallery</h3>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal1" data-toggle="modal">

                        <img src="~/images/p1.jpeg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Playing Games</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal2" data-toggle="modal">

                        <img src="~/images/p2.jpeg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Sun Rise</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal3" data-toggle="modal">

                        <img src="~/images/p3.jpeg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4>Sun Set</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top">
            <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s" ">
                <figure class="effect-jazz">
                    <a href="#portfolioModal4" data-toggle="modal">

                        <img src="../../images/p4.jpeg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Water Sports</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid grid-wi slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
                <figure class="effect-jazz">
                    <a href="#portfolioModal5" data-toggle="modal">

                        <img src="~/images/p5.jpeg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Fire</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 grid grid-wi slideanim wow fadeInRight animated animated" data-wow-delay=".5s" ">
                <figure class="effect-jazz">
                    <a href="#portfolioModal6" data-toggle="modal">

                        <img src="../../images/p6.jpeg" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">Nightlife</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//portfolio-->
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Playing Games</h3>

                    <img src="~/images/p1.jpeg" class="img-responsive" alt="">
                    
                </div>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Sun Rise</h3>

                    <img src="~/images/p2.jpeg" class="img-responsive" alt="">
                    
                </div>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Sun Set</h3>

                    <img src="~/images/p3.jpeg" class="img-responsive" alt="">
                    
                </div>
            </div>
        </div>

    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Water Sports</h3>

                    <img src="../../images/p4.jpeg" class="img-responsive" alt="">
                    
                </div>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Fire</h3>

                    <img src="~/images/p5.jpeg" class="img-responsive" alt="">
                    
                </div>
            </div>

        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h3>Nightlife</h3>

                    <img src="../../images/p6.jpeg" class="img-responsive" alt="">
                    
                </div>
            </div>
        </div>

    </div>
</div>
<!-- //Portfolio Modals -->
<div class="bottom-section">
    <div class="wrap">
        <div class="banner-center">
            <h3>Find Your Destination</h3>
            <p class="vd">
                <font color="black">
                    <b>Pawna River originates from the Western Ghats, Backwater, forts are the heritage of pune, Maharashtra.
                    It is awsome place to spend time family and friends. </b>
                </font>
            </p>
            <a href="#" data-toggle="modal" data-target="#myModal2" class="play" href="#"><i class="glyphicon glyphicon-play-circle"> </i></a>
        </div>
    </div>
    <!--iframe-->
    <div class="modal ab fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog video" role="document">
            <div class="modal-content about">
                <div class="modal-header">
                    <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body about">
                    <iframe src="https://player.vimeo.com/video/260226026"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--//iframe-->
</div>
<div class="testimonials module">
    <div class="container">
        <!-- TITLE -->
        <div class="test-top">
            <div class="sp-testimonials-title">
                <h3 class=" tittle wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">Booking</h3>
            </div>
            <div class="sp-testimonials">
                <div class="sp">
                    <div class="col-md-6 pic wow fadeInLeft animated animated" data-wow-delay=".5s">
                        <b>Camping Schedule</b> <br />
                        1) Check in time : 05:00 PM <br />
                        2) Welcome Tea & Snacks <br />
                        3) Games: Indoor & Outdoor <br /> 
                        4) BBQ(limited) or veg/non-veg (unlimited) dinner <br />
                        5) Bonfire with music <br />
                        6) Second day breakfast with tea <br />
                        7) Trekking <br />
                        8) Check Out Time: 11:00 AM <br />
                        <br /> <br />
                        <b>Terms and Conditions</b><br />
                        1) Booking amount non refundable. <br />
                        2) Tents can not be shifted once they are set. <br />
                        3) We are not responsible to any physical or health or monetarily lost. Its individuals choice to participate in camp. <br />
                        4) Please don't enter in lake water. It is strictly restricted by irrigation department. <br />
                        5) Don't throw any plastic bag, bottles, papers and food inside the lake water. <br />
                        6) Don't carry any alcoholic drinks. <br />
                        7) Travelling is not included in package cost. <br />
                        8) For packaged drinking water extra charges will be applied. <br />
                        9) Booking charges <br /> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) 0-5yrs No charges <br /> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) 5-11yrs 50% charges <br /> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) 11yrs and above 100% charges will be applicable. <br />
                    </div>
                    <div class="col-md-6 pic wow fadeInRight animated animated" data-wow-delay=".5s">
                        Booking Form
                        
                            <form method="post" action=@Url.Action("PayNow","Home")>
                                <div class="styled-input wow slideInUp animated animated" data-wow-delay=".5s">
                                    <input type="text" id="name" name="name" required />
                                    <label>Name</label>
                                    <span></span>
                                </div>
                                <div class="styled-input wow slideInUp animated animated" data-wow-delay=".5s">
                                    <input type="email" id="email" name="email" required />
                                    <label>Email</label>
                                    <span></span>
                                </div>
                                <div class="styled-input wow slideInUp animated animated" data-wow-delay=".5s">
                                    <input type="tel" id="phone" name="phone" required />
                                    <label>Phone</label>
                                    <span></span>
                                </div>
                                <div class="styled-input wide wow slideInUp animated animated" data-wow-delay=".5s">
                                    <input type="text" id="adult" name="adult" required />
                                    <label>Number of Adults</label>
                                    <span></span>
                                </div>
                                <div class="styled-input wide wow slideInUp animated animated" data-wow-delay=".5s">
                                    <input type="text" id="child" name="child" required />
                                    <label>Number of Children</label>
                                    <span></span>
                                </div>
                                <div class="styled-input wide wow slideInUp animated animated" data-wow-delay=".5s">
                                    <input type="text" id="total_cost" name="total_cost" readonly />
                                    <label>Total Cost</label>
                                    <span></span>
                                </div>
                                <div class="send wow shake animated animated" data-wow-delay=".5s">
                                    <input type="submit" value="Book Now">
                                </div>
                            </form>
                        
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- /TITLE -->
    </div>
</div>
<!-- /TESTIMONIALS -->
<!--/contact-->
<!--/contact-->
<div class="section-contact" id="contact">
    <div class="wrap">
        <div class="contact-main">
            <h2 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Contact Us</h2>
            <div class="col-md-6 contact-in wow slideInUp animated animated" data-wow-delay=".5s">
                <div class="more-address wow slideInUp animated animated" data-wow-delay=".5s" ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7560.766764991226!2d73.4855578!3d18.6467844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x79c4ce618f178bf5!2sPawana+Lake+Janavi+Camping!5e0!3m2!1sen!2sin!4v1519903838857" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
            <div class="col-md-6 contact-grid">
                <address>
                    <strong class="one">Address</strong><br>
                    At. Thakursai,
                    Near Dadarkar Farm house,<br>
                    Ajiwali Thakursai Road<br>
                    Lonavala, Maharashtra 410406
                    India
                    <br/>
                    <abbr title="Phone">Contact No:</abbr> 9960044802 / 9503267668
                </address>
                <address>
                    <strong class="one">Our mail</strong><br>
                    <a href="mailto:dharma9191@gmail.com">dharma9191@gmail.com</a>
                </address>

                <b>How to Reach:</b><br />
                <b>Mumbai - 110 KM </b><br />
                There are regular trains from Bombay to Lonavala. <br />
                From lonavala station you get any private vechicles to reach our site.
                <br/><br /> <b>Pune - 60 KM </b> <br />
                There are regular trains/buses from Pune to Pawana Nagar/Lonavala. <br />
                 You can get local train from Pune station to Kamshet station. <br />
                 From kamshet station you can get the private vehicles such as jeep, bus etc.
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>				  	<!--map-->
</div>

<div class="bottom-middle">
    <div class="bottom-middle-top">
        <div class="container">
            <div class="col-md-6 bottom-grid wow fadeInUp animated animated" data-wow-delay=".5s">
                <h5>About Us</h5>
                <p align="justify">
                    Janavi Pawana Lake camping  is situated on the bank of the Pawana dam and budgeted camping for weekend plan. <br />
                    Pawana Dam is 50 kms from Pune and 10 kms from Lonavala. You can see the lake water easily from this location. <br />
                    Also this place is surrounded by four major forts named Tung, Tikona, Lohagad and Visapur. Special attraction
                    of Pawana Camping is  water view site, music with dance, camp fire, BBQ and  home made dinner/ lunch.<br /><br />


                    1. Evening Welcome tea+ Hot Pakode<br />
                    2. Unlimited dinner( veg/ non-veg)<br />
                    3. Camp fire with music<br />
                    4. Tent stay<br />
                    5. Next day morning tea+ breakfast<br />
                </p>

            </div>
            <div class="col-md-6 bottom-grid wow fadeInUp animated animated" data-wow-delay=".5s">
                <h5>Events</h5>

                @Html.Partial("event_show")
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>