<div class="container demo-2" id="home">
    <!--carbonads-container-->

    <div class="content">
        <div class="w3_agile_menu">
            <div class="agileits_w3layouts_nav">
                <div id="toggle_m_nav">
                    <div id="m_nav_menu" class="m_nav">
                        <div class="m_nav_ham w3_agileits_ham" id="m_ham_1"></div>
                        <div class="m_nav_ham" id="m_ham_2"></div>
                        <div class="m_nav_ham" id="m_ham_3"></div>
                    </div>
                </div>
                <div id="m_nav_container" class="m_nav wthree_bg">
                    <nav class="menu menu--sebastian">
                        <ul id="m_nav_list" class="m_nav menu__list">
                            <li class="m_nav_item" id="m_nav_item_1"> <a href="@Url.Action("Index","Home")" class="link link--kumya"><i class="fa fa-home" aria-hidden="true"></i><span data-letters="Home">Home</span></a></li>
                            <li class="m_nav_item" id="moble_nav_item_2"> <a href="@Url.Action("Events","Home")" class="link link--kumya scroll"><i class="fa fa-cog" aria-hidden="true"></i><span data-letters="Events">Events</span></a></li>
                            <li class="m_nav_item" id="moble_nav_item_5"> <a href="@Url.Action("Gallery","Home")" class="link link--kumya scroll"><i class="fa fa-picture-o" aria-hidden="true"></i><span data-letters="Gallery">Gallery</span></a></li>
                            <li class="m_nav_item" id="moble_nav_item_6"> <a href="@Url.Action("Contact","Home")" class="link link--kumya scroll"><i class="fa fa-envelope-o" aria-hidden="true"></i><span data-letters="Contact Us">Contact Us</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div id="large-header" class="large-header">            
            <canvas id="demo-canvas"></canvas>
        </div>
    </div>
</div>